/* -------------- Reset -------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display:block;
}
nav ul, footer ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
a:hover, a:active { outline: none; }
ol { list-style-type: decimal; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
sub { vertical-align: sub; font-size: 80%; }
sup { vertical-align: super; font-size: 80%; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
button {  width: auto; overflow: visible; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }
::-moz-selection{ background: #ffffff; color:#000000; text-shadow: none; }
::selection { background: #ffffff; color: #000000; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 
.ie7 img { -ms-interpolation-mode: bicubic; }


/* -------------- Project Styles -------------- */

/* Site Fonts -------------- */

@font-face {
    font-family: 'GiantBackground';
    src: url('../fonts/giant_background-webfont.eot');
    src: url('../fonts/giant_background-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/giant_background-webfont.woff') format('woff'),
         url('../fonts/giant_background-webfont.ttf') format('truetype'),
         url('../fonts/giant_background-webfont.svg#GiantBackground') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Basic Site Styles -------------- */
body {
	background: #000000 url(../images/bg_main.gif) repeat-y center;
	font: 12px/17px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	color: #cccccc;
}

p { padding:0 0 9px 0; }

a {
	color: #00aeef;
	text-decoration: none;
}
a:hover {
	color: #1a668f;
	text-decoration: none;
}

.clear { clear: both; }
.center { text-align: center; }
.img_r {
	position: relative;
	float: right;
	padding: 0 0 10px 25px;
}
.img_l {
	position: relative;
	float: left;
	padding: 0 10px 10px 0;
}
.left {
	position: relative;
	float: left;
}
.right {
	position: relative;
	float: right;
}

h1 { font: 24px/24px 'GiantBackground', sans-serif;
	color: #ffffff;
	background-color: #000000;
}

h2 { font: 16px/26px 'GiantBackground', sans-serif;
	color: #ffffff;
}
h3 { font: 18px/21px Arial, sans-serif;
	color: #ff6600;
}

h2.txt_headline{
	color: #ffffff;
	font: 24px/20.96px 'GiantBackground',sans-serif;
	padding: 5px 10px;
	background: #000;
}

h3.home{
	margin-top: 8px;
}

h4 { font: 12px/15px Arial, sans-serif; }

.subpage h4{
	font: 16px/17px Arial, sans-serif;
	position: relative;
}

h1, h2, h3 { margin: 0; padding: 0 0 13px 0;}

#contentmain_left .btn{
	margin-top: 8px;
	margin-bottom: 21px;
}

.btn { 
	position: relative;
	font: 12px/20.96px 'GiantBackground', sans-serif;
	color: #00aeef;
	background: #000000;
	margin-bottom: 7px;
	padding: 5px 10px;
}

.btn .arrow_left, .btn .arrow_right{
	color: #fff;
}

.post .btn { 
	margin-bottom: 7px;
	padding: 2px 5px;
	font-size: 10px;
}


/*.btn_wrapper{
	margin-top: 8px;
}*/

.btn_wrapper a.last{
	margin-left: 13px;
}

.block{
	display: block;
}

.post{
	width: 505px;
	margin-bottom: 21px;
	border-bottom: 2px dashed #231f20;
}

.post.first{
	margin-top: 12px;
}

.post.full{
	padding-bottom: 12px;
}

.post .title{
	font-size: 14px;
	line-height: 11px;
	margin-bottom: 8px;
}

.post .date{
	color: #ff6600;		
}

.post .meta{
	margin-bottom: 8px;
	font-size: 10px;
}

#categories_wrapper{
	margin-top: 12px;
}

#categories_wrapper ul{
	float: left;
	position: relative;
	margin-top: 8px;
}

#categories_wrapper li{
	float: left;
	position: relative;
	width: 305px;
	list-style: none;
}

#categories_wrapper a.active{
	color: #ff6600;
}

/* Basic Structure -------------- */

#wrapper {
	position: relative;
	width: 1020px;
	margin: 0 auto;
	background: #131313;
	/*background-color: #8c8c8c;*/
}

header {
	float: left;
	position: relative;
	width: 1020px;
	height: 356px;
	z-index: 100;
	background: transparent url(../images/bg_header.jpg) no-repeat left top;
}

#logo {
	float: left;
	position: relative;
	width: 310px;
	height: 190px;
	margin-top: 35px;
	z-index: 10;
}

#callout_home_wrapper{
	width: 505px;
	position: absolute;
	top: -107px;
}

p.callout_home { 
	float: left;
	position: relative;
	font: 47px/47px 'GiantBackground', sans-serif;
	color: #ffffff;
	background: #000000;
	margin-bottom: 7px;
	padding: 5px 10px;
}

p.callout_home.blue{
	color: #00aeef;
}

p.callout_home.last{
	margin-bottom: 8px;
}

#contentmain, #contentsub {
	position: relative;
	width: 872px;
	padding: 6px 0 17px;
	margin-left: 78px;
	float: left;
	z-index: 100;
}

#contentmain_left {
	position: relative;
	width: 505px;
	padding: 0;
	float: left;
}

#contentmain_left p{
	float: left;
	position: relative;
}

.home #contentmain_left{
	padding-top: 84px;
}

.subpage #contentmain_left {
	margin-top: -104px;
}

.content_block h2{
	margin-left: -8px;
	margin-bottom: 15px;
}

.content_block h4{
	float: left;
	position: relative;
	width: 505px;
	color: #ff6600;
	margin-bottom: 4px;
}

.content_block h5{
	float: left;
	position: relative;
	width: 505px;
	color: #ff6600;
	margin-bottom: 2px;
}

.content_block_top{
	width: 505px;
}

.content_block ul{
	display: block;
	list-style: none;
	font-size: 11px;
	line-height: 21px;
	color: #fff;
	font-weight: bold;
}

.content_block .map{
	border: 6px solid #000;
	margin-bottom: 8px;;
}

#contentmain_right {
	position: relative;
	width: 291px;
	float: right;
	padding: 0;
}

#wrapper_schedule{
	width: 485px;
	margin-top: 16px;
}

.wrapper_staff{
	margin-bottom: 21px;
}

#wrapper_schedule ul, .wrapper_staff ul{
	background: #000;
	float: left;
	padding: 10px;
	margin-top: 8px;
}

#wrapper_schedule li, .wrapper_staff li{
	float: left;
	list-style-type: none;
	border: 3px solid #272727;
	margin-right: 7px;
}

#wrapper_schedule li.last, .wrapper_staff li.last{
	margin-right: 0;
}


#wrapper_schedule img, .wrapper_staff img{
	border: 2px solid #000;
}

#wrapper_workouts{
	margin-top: -20px;
	width: 305px;
}

#wrapper_workouts .nav li, #wrapper_news .nav li{
	list-style-type: none;
}

#workouts-lewes, #workouts-riverfront{
	width: 247px;
	margin-top: -101px;
}

#workouts-lewes .content-top, #workouts-riverfront .content-top, #news-lewes .content-top, #news-riverfront .content-top{
	background: #000;
	width: 247px;
	padding: 17px;
	margin-bottom: 8px;
}

#news-lewes, #news-riverfront{
	width: 247px;
	margin-top: -101px;	
}

.workouts-date, .workouts-title, .workouts-content, .news-date, .news-title, .news-content{
	display: block;
}

.workouts-date{
	font-size: 12px;
	text-transform: uppercase;
	color: #00aeef;
}

.workouts-title, .news-date{
	font-size: 10px;
	color: #ff6600;
}

.news-image{
	border: 3px solid #272727;
	margin-bottom: 13px;
}

.news-image img{
	border: 2px solid #000000;
	float: left;
}

.news-title{
	font-size: 12px;
	color: #00aeef;
}

.workouts-content, .news-content{
	font-size: 10px;
}

.workouts-content p{
	padding: 0;
}

.news-content p{
	padding: 0;
	font-size: 10px;
	line-height: 15px;
}

.workouts-content a, .news-content a{
	position: relative;
	top: 2px;
}

.workouts-content span.arrow_right, .news-content span.arrow_right{
	color: #fff;
}

.workouts-content li, .news-content li{
	list-style-type: none;
	line-height: 15px;
}

#wrapper_workouts .top{
	width: 305px;
	margin-bottom: 7px;
}

#wrapper_news .top{
	width: 305px;
	margin-bottom: 7px;
	margin-top: 20px;
}

#tabs_workout .nav a, #tabs_news .nav a{
	float: left;
	width: 26px;
	text-indent: -999em;
	padding-top: 9px;
	padding-right: 9px;
	padding-bottom: 9px;
	outline: none;
	position: relative;
	z-index: 1;
}

#tabs_workout .nav a.first{
	height: 47px;
	top: 1px;
	left: 271px;
	background: url(../images/img_nav_lewes.png) 14px 8px no-repeat;
}

#tabs_news .nav a.first{
	height: 47px;
	top: 1px;
	left: 271px;
	background: url(../images/img_nav_lewes.png) 14px 8px no-repeat;
}

#tabs_workout .nav a.first:hover, #tabs_workout .nav li.active a.first, #tabs_news .nav a.first:hover, #tabs_news .nav li.active a.first{
	background: #000 url(../images/img_nav_lewes.png) no-repeat -25px 8px;
}

#tabs_workout .nav a.last{
	height: 84px;
	top: 64px;
	left: 236px;
	background: url(../images/img_nav_riverfront.png) 14px 8px no-repeat;
}

#tabs_news .nav a.last{
	height: 84px;
	top: 64px;
	left: 236px;
	background: url(../images/img_nav_riverfront.png) 14px 8px no-repeat;
}

#tabs_workout .nav a.last:hover, #tabs_workout .nav li.active a.last, #tabs_news .nav a.last:hover, #tabs_news .nav li.active a.last{
	background: #000 url(../images/img_nav_riverfront.png) -25px 8px no-repeat;
}

#wrapper_news{
	width: 305px;
}

#gallery_wrapper{
	margin-bottom: 21px;
}

#gallery_wrapper .picture{
	margin-right: 19px;
	margin-bottom: 19px;
}

#gallery_wrapper .picture .title{
	margin-top: 12px;
	text-align: center;
}

#gallery_wrapper .img img{
	border: 2px solid #000;
	margin-bottom: -4px;
}

#gallery_wrapper .img_inner{
	border: 3px solid #131313;
}

#gallery_wrapper .img{
	border: 6px solid #000;
}

#video_wrapper{
	margin-bottom: 21px;
}

#video_wrapper .video img{
	border: 2px solid #000;
	margin-bottom: -4px;
}

#video_wrapper .video_inner{
	border: 3px solid #131313;
}

#video_wrapper .video{
	border: 6px solid #000;
}

#video_wrapper .video_outter .title{
	margin-top: 12px;
	text-align: center;
}

/* Navigation Styles --------------  */

nav {
	float: right;
	position: relative;
	height: 44px;
	width: 576px;
	z-index: 200;
	background-color: #000000;
	color: #FFFFFF;
	margin-top: 34px;
}

nav ul { position: relative;list-style: none; margin: 10px auto 0 14px;padding: 0; z-index: 200;width: 576px;height: 44px;}
nav li { position: relative;float: left; padding: 0;margin: 0;height:44px; z-index: 200;}
nav a { position: relative;font: normal normal 13px/13px Arial, sans-serif;display: block; z-index: 200;text-decoration: none; color: #FFFFFF;padding: 5px 6px;text-align: center;
	margin: 0 5px;
	text-transform: uppercase;
}
nav a:hover, nav a.on, nav a.active { background-color: #00aeef; color: #000000; }


/* Footer Styles -------------- */

footer {
	position: relative;
	clear:both;	
	padding: 21px 0 45px;
	margin: 0 auto;
	font: 11px/16px Arial, sans-serif;
	color: #666666;
	background: #000000;
} 

footer .wrapper{
	margin: 0 auto;
	width: 872px;
}
#copyright { position: relative; float: left;
	font-size: 9px;
	text-transform: uppercase;
	color: #525252;
	margin-top: 4px;
}

#powered_by{
	background: url(../images/img_wp_logo.gif) no-repeat;
	height: 41px;
	padding-left: 48px;
	padding-top: 12px;
}

#footer_left{ 
	width: 218px; 
	color: #fff;
	text-transform: uppercase;
	font-size: 9px;
	margin-top: -8px;
}

#footer_right { width: 435px; }
#footer_right ul { position: relative;list-style: none; margin: 0;padding: 0; z-index: 10;line-height: 11px; }
#footer_right li { position: relative;float: left;padding: 0;margin: 0;border-right: 1px solid #262626;list-style: none; text-transform: uppercase;
	font-size: 10px;
}
#footer_right li:last-child { border-right: none; }
#footer_right a { margin: 0 9px;}
#footer_right li:last-child a { margin-right: 0; }
#footer_right li:first-child a { margin-left: 0; }
#footer_right a:hover, #footer_right a.on { color: #fff; }











@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
